<div id="<%= dom_id reserva %>">
  <p>
    <strong>Data reserva:</strong>
    <%= reserva.data_reserva %>
  </p>

  <p>
    <strong>Data devolucao:</strong>
    <%= reserva.data_devolucao %>
  </p>

  <p>
    <strong>Status reserva:</strong>
    <%= reserva.status_reserva %>
  </p>

</div>
